In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_csv("Resources/all-states-history (1).csv")
raw_data

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-15,AK,A,65.0,65.0,1,NaN,NaN,NaN,60.0,...,519461.0,2284,NaN,NaN,NaN,NaN,NaN,0,519461.0,2284
1,2020-10-15,AL,A,2756.0,2590.0,50,166.0,18635.0,18635.0,844.0,...,1234074.0,7853,NaN,NaN,60916.0,NaN,NaN,0,1234074.0,7853
2,2020-10-15,AR,A+,1645.0,1494.0,11,151.0,6199.0,6199.0,587.0,...,1186002.0,12660,NaN,21856.0,NaN,32741.0,NaN,0,1186002.0,12660
3,2020-10-15,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-15,AZ,A+,5789.0,5502.0,17,287.0,20462.0,20462.0,726.0,...,1601033.0,11831,304875.0,NaN,NaN,NaN,1601033.0,11831,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12640,2020-01-24,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
12641,2020-01-23,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,2.0,1,NaN,NaN,NaN,NaN,NaN,0,2.0,1
12642,2020-01-23,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
12643,2020-01-22,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1
12644,2020-01-22,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [22]:
#extract columns we will need
covid_df = raw_data.loc[:,['date', 'state', 'death', 'hospitalized', 'totalTestResults']]
covid_df = covid_df.rename(columns={"date":"Date", "state":"State", "death":"Number of Deaths", 
                                   "hospitalized":"Number of Hospitalization", "totalTestResults": "Total Tests Taken"})
covid_df

,Date,State,Number of Deaths,Number of Hospitalization,Total Tests Taken
0,2020-10-15,AK,65.0,NaN,519461.0
1,2020-10-15,AL,2756.0,18635.0,1234074.0
2,2020-10-15,AR,1645.0,6199.0,1186002.0
3,2020-10-15,AS,0.0,NaN,1616.0
4,2020-10-15,AZ,5789.0,20462.0,1601033.0
...,...,...,...,...,...
12640,2020-01-24,WA,NaN,NaN,0.0
12641,2020-01-23,MA,NaN,NaN,2.0
12642,2020-01-23,WA,NaN,NaN,0.0
12643,2020-01-22,MA,NaN,NaN,1.0
12644,2020-01-22,WA,NaN,NaN,0.0

In [54]:
# Ask the user how many numbers to loop through
national_df = covid_df.loc[:,['State', 'Number of Deaths','Number of Hospitalization', 'Total Tests Taken']]
ask_state_vs_national = str(input("Do you want to see National Data (y/n)"))


if ask_state_vs_national == str("y"):
    print("***Here is the summary of National Data ***")
    group_df = national_df.groupby(["State"])
    display_df =group_df.sum()
    display_df = display_df.astype(int)
    print(display_df)
    more_data = str(input("***Do you want to see more data (y/n)***"))
    if more_data == str("y"):
        display_df["Total Infected"] = display_df["Number of Deaths"] + display_df["Number of Hospitalization"]
        display_df["Infection Percentage"] = (display_df["Total Infected"]/display_df["Total Tests Taken"])*100
        display_df["Infection Percentage"] = display_df["Infection Percentage"].map("{:.2f}%".format)
        display_df["Total Cured"] = display_df["Number of Hospitalization"] - display_df["Number of Deaths"]
        print(display_df)
else:
    print("Ok you want to see State Wide Data")
    state_name = str(input("***Please enter the name of the state in abbreviation example: NewJersey is NJ****"))
    unique = national_df["State"].unique()
    print(unique)
    while state_name == str(unique.all()):
        print("OK")

Do you want to see National Data (y/n)n
Ok you want to see State Wide Data
***Please enter the name of the state in abbreviation example: NewJersey is NJ****NJ
['AK' 'AL' 'AR' 'AS' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'GU' 'HI'
 'IA' 'ID' 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MP'
 'MS' 'MT' 'NC' 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA'
 'PR' 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VA' 'VI' 'VT' 'WA' 'WI' 'WV' 'WY']