In [1]:
#Dependencies
import pandas as pd
import requests
import json

In [12]:
# API Call for covid data 
covid_base_url = " https://api.covidtracking.com/v1/states/daily.json"
response = requests.get(covid_base_url).json()

#print(json.dumps(response, indent=4))

# pull the data from a source df to a target df by creating a new df

covid_df = pd.DataFrame(response, columns=['date', 'state', 'positive'])
covid_df.head()

       date state  positive
0  20201017    AK   11792.0
1  20201017    AL  171662.0
2  20201017    AR   98422.0
3  20201017    AS       0.0
4  20201017    AZ  230407.0

In [ ]:
# API Call for flights data 
flights_base_url =