In [3]:
#Dependencies
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import scipy.stats as sts
import datetime

In [4]:
data_path = "Resources/Test_Data.csv"

data_df = pd.read_csv(data_path)
data_df.head()

,abbr_state,positive,death,hospitalized,totalTestResults,Date,Total Landed Flights
0,AK,12644,68,0,547140.0,1/22/2020,374
1,AL,174528,2805,19330,1273523.0,1/22/2020,557
2,AR,101596,1751,6526,1242752.0,1/22/2020,813
3,AS,0,0,0,1616.0,1/22/2020,581
4,AZ,233912,5854,20820,1657389.0,1/22/2020,758

In [9]:
#group Total state metrics (no date layer)
total_df = data_df.groupby(['abbr_state'], as_index=False)[['Total Landed Flights','positive','death','hospitalized','totalTestResults']].sum()
total_df.head()

,abbr_state,Total Landed Flights,positive,death,hospitalized,totalTestResults
0,AK,129614,706508,5024,688,41150068.0
1,AL,125717,14269493,266838,1586834,114415037.0
2,AR,132177,7326589,105069,497325,90942024.0
3,AS,130811,0,0,0,165279.0
4,AZ,130130,22960768,561998,2138581,146199352.0